<%- include('partials/header') %>

<div class="container">
  <div class="row mt-5">
    <h1 class="text-center border-botton">Lista de Reservas</h1>
    <div class="col">
      <div class="col-md-3 mb-2">
        <a href="/crear-reserva" class="btn btn sm btn-primary" id>Nuevo </a>
        <a href="/" class="btn btn-info text-light">Inicio</a>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>codigo</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>fecha_ingreso</th>
            <th>fecha_salida</th>
            <th>costo_vuelo</th>
            <th>telefono</th>
            <th>email</th>
          </tr>
        </thead>
        <tbody id="listaReserva"></tbody>
      </table>
    </div>
  </div>
</div>

<script scr="/listas-reservas.js"></script>

<%- include('partials/footer') %>
